doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Calculator

    link(href='style.css', rel='stylesheet')
    script(src=' script.js', defer='')

 
  body
    .calculator-grid
      .output
        .previous-operand(data-previous-operand='')
        .current-operand(data-current-operand='')
      button#clear.span-two(data-all-clear='') AC
      button#delete(data-delete='') DEL
      button#divide(data-operation='') &div;
      button#one(data-number='') 1
      button#two(data-number='') 2
      button#three(data-number='') 3
      button#multiply(data-operation='') *
      button#four(data-number='') 4
      button#five(data-number='') 5
      button#six(data-number='') 6
      button#add(data-operation='') +
      button#seven(data-number='') 7
      button#eight(data-number='') 8
      button#nine(data-number='') 9
      button#subtract(data-operation='') -
      button#dot(data-number='') .
      button#zero(data-number='') 0
      button#equal.span-two(data-equals='') =